<form action="/pay" method="post">
    <script src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key = "pk_test_TpdI3dm1akX9lS8c630o8Hez00vTBYutYI"
    data-amount="3000"
    data-name="some item"
    data-description="blah-blah-blah"
    data-locale="auto"
    data-curency="usd">
    </script>
</form>